__pycache__/

# Editors
.idea/
.vscode/

# Environments
.env
.venv/

# MyPy
.mypy_cache/

# Pickle
*.pickle
*.pkl

# Pytest / Coverage
.pytest_cache/
.coverage
test-results.xml
coverage.xml

# Ruff
.ruff_cache/

# SQLite
*.db
*.sqlite
